/* The Nivo Slider styles */
#slider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}
.nivoSlider {
	position:relative;
	width:600px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:89;
	padding:15px 0;
}
.nivo-caption p {
	padding:0 20px;
	margin:0;
	font-size:14px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
.slider {	
    width:100%;
}
.slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.slider a {
	border:0;
	display:block;
}

.slider_content_container {
}

.slider_content_page {
	display: none;
	position: static;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	font-size: 1.1em;
}

.nivo-controlNav {
	position: absolute;
	margin: 3px;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.nivo-controlNav a {
	background: url(images/bullet-inactive.png) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin: 2px;
}

.nivo-controlNav .active {
	background: url(images/bullet-active.png) no-repeat;
}

.nivo-directionNav a {
	display:block;
	width:31px;
	height:34px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
.nivo-caption p {
   text-shadow: 0 0 0.1em #fff;
   font-size: 1.4em;
}
